<aside>
    <div id="sidebar" class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu">
        <li class="active">
          <a class="" href="/user/">
                        <i class="icon_house_alt"></i>
                        <span>Dashboard</span>
                    </a>
        </li>

        <li class="sub-menu">
          <a href="/api/user/profile" class="">
                        <i class="icon_document_alt"></i>
                        <span>Profile</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
        
        </li>

        <li class="sub-menu">
          <a href="/user/property" class="">
                        <i class="icon_document_alt"></i>
                        <span>Add Property</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
        
        </li>
        <li class="sub-menu">
          <a href="/user/user/propertyList" class="">
                        <i class="icon_document_alt"></i>
                        <span>Property List</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
        
        </li>


        <li class="sub-menu">
          <a href="/api/user/blog" class="">
                        <i class="icon_document_alt"></i>
                        <span>Blog</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
        
        </li>

        <li class="sub-menu">
          <a href="/api/blogList" class="">
                        <i class="icon_document_alt"></i>
                        <span>Blog List</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
        
        </li>
    

        <li class="sub-menu">
          <a href="/api/user/Logout" class="">
                        <i class="icon_document_alt"></i>
                        <span>Logout</span>
                        <span class="menu-arrow arrow_carrot-right"></span>
                    </a>
        
        </li>
       

   


      </ul>
      <!-- sidebar menu end-->
    </div>
  </aside>