<!DOCTYPE html>
<html>
    <head>
            <% include ./partials/Agents_dashboard/head %>

    </head>
    <body class="skin-black">
        <!-- header logo: style can be found in header.less -->
        <% include ./partials/Agents_dashboard/header %>
     
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
                    <% include ./partials/Agents_dashboard/sidenavbar %>
                <!-- sidebar: style can be found in sidebar.less -->
              
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Create Your Profile
                        <small>Preview</small>
                    </h1>
                    <h3><% include ./partials/messages %></h3>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="#">Forms</a></li>
                        <li class="active">General Elements</li>
                    </ol>
                </section>

            <!--main content start-->
    <section id="main-content">
        <div class="container">    
            <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div style="background-color:#eeeeee;color:#eeeeee;text-align: center" class="panel-heading">
                    <div class="panel-title">Add Property</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px"></div>
                </div>  
                <div class="panel-body" >
                                
    
                        <form  class="form-horizontal"  method="POST" action="/property/addProperty" enctype="multipart/form-data" >
                            <input type='hidden' name='csrfmiddlewaretoken' value='XFe2rTYl9WOpV8U6X5CfbIuOZOELJ97S' />
                            <div id="div_id_select" class="form-group required">
                                <label for="id_select"  class="control-label col-md-4  requiredField"> Purpose<span class="asteriskField">*</span> </label>
                                <div class="controls col-md-8 "  style="margin-bottom: 10px">
                                    <label class="radio-inline"><input type="radio"  name="select" id="saleid" value="Sale"  style="margin-bottom: 10px">For Sale</label>
                                    <label class="radio-inline"><input type="radio"  name="select" id="rentid" value="Rent"  style="margin-bottom: 10px">For Rent</label>
                                    
                                </div>
                            </div> 
                            <div id="div_id_As" class="form-group required">
                                <label for="id_As"  class="control-label col-md-4  requiredField">Property Type<span class="asteriskField">*</span> </label>
                                <div class="controls col-md-8 "  style="margin-bottom: 10px">
                                    <label class="radio-inline"> <input type="radio" name="As" id="homeid" value="home"  style="margin-bottom: 10px">Home</label>
                                    <label class="radio-inline"> <input type="radio" name="As" id="commercialid" value="commercial"  style="margin-bottom: 10px">Commercial</label>
                                    <label class="radio-inline"> <input type="radio" name="As" id="plotid" value="plots"  style="margin-bottom: 10px">Plots</label>                                           
                                </div>
                            </div>
                            <div id="div_id_As" class="form-group required">
                                    <label for="id_As"  class="control-label col-md-4  requiredField">Select City<span class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 "  style="margin-bottom: 10px">
                                            <select name="city" id="cityid"class="form-control form-control-sm">
                                                    <option value="rwp">Rawalpindi</option>
                                                  </select>    
                                    </div>
                                    
                                </div>
                                    
                                
                                <div id="div_id_As" class="form-group required">
                                        <label for="id_As"  class="control-label col-md-4  requiredField">Location<span class="asteriskField">*</span> </label>
                                        <div class="controls col-md-8 ">
                                                <input class="input-md  textinput textInput form-control" type="text"  maxlength="30" name="location" required placeholder="Enter Your Location" style="margin-bottom: 10px" type="text"  />       
                                        </div>
                                    </div>
                                    <div id="div_id_As" class="form-group required">
                                            <label for="id_As" style="background-color:#eeeeee; margin-bottom: 20px; color: honeydew; height:20px;  text-align: center;" class="control-label col-md-12   requiredField">Property Details<span class="asteriskField">*</span> </label>
                                        </div>
                                   
                            <div id="div_id_username" class="form-group required">
                                <label for="id_username" class="control-label col-md-4  requiredField"> Property Title<span class="asteriskField">*</span> </label>
                                <div class="controls col-md-8 ">
                                    <input class="input-md  textinput textInput form-control" id="propertytitleid" maxlength="30" name="title" placeholder="" style="margin-bottom: 10px" type="text"  />
                                </div>
                            </div>
                            <div id="div_id_email" class="form-group required">
                                <label for="id_email" class="control-label col-md-4  requiredField">Description<span class="asteriskField">*</span> </label>
                                <div class="controls col-md-8 ">
                                    <textarea class="input-md  form-control" id="descriptionid" name="desc" placeholder="Add Description Here" style="margin-bottom: 10px" type="text"  ></textarea>
                                </div>     
                            </div>
                            <div id="div_id_password1" class="form-group required">
                                <label for="priceid" class="control-label col-md-4  requiredField">Price: (PKR)<span class="asteriskField">*</span> </label>
                                <div class="controls col-md-8 "> 
                                    <input class="input-md textinput numberInput form-control" id="priceid" name="price" placeholder="" style="margin-bottom: 10px" type="number" />
                                </div>
                            </div>
                            <div id="div_id_name" class="form-group required"> 
                                <label for="id_name" class="control-label col-md-4  requiredField">Land Area<span class="asteriskField">*</span> </label> 
                                <div class="controls col-md-8 "> 
                                    <input class="input-md numberinput textInput form-control" id="areaid" name="area" placeholder="Only Number" style="margin-bottom: 10px" type="number" />
                                </div>
                            </div>
                            <div id="div_id_As" class="form-group required">
                                    <label for="id_As" style="background-color:#eeeeee; margin-bottom: 20px; color: #eeeeee; height:20px;  text-align: center;" class="control-label col-md-12   requiredField">Add Image<span class="asteriskField">*</span> </label>
                                </div>
                                <br>
                                <div class="form-group required">
                                        <div class="row">
                                        <div class=" col-md-8 imgUp">
                                          <div class="imagePreview"></div>
                                      <label style="background-color:gray;color:cornsilk" class="btn btn-primay btn-lg">Upload<input id="myFile" name="photo" type="file" required class="input-md uploadFile img" multiple style="width: 0px;height: 0px;overflow: hidden;">
                                                      </label>
                                        </div><!-- col-2 -->
                                        <i class="fa fa-plus imgAdd"></i>
                                       </div><!-- row -->
                                      </div><!-- container -->
                                      <div id="div_id_As" class="form-group required">
                                            <label for="id_As" style="background-color: #eeeeee; margin-bottom: 20px; color: honeydew; height:20px;  text-align: center;" class="control-label col-md-12   requiredField">Please Check Your Info Before Submit<span class="asteriskField">*</span> </label>
                                        </div>   
                            <div class="form-group  "> 
                                <div class="aab controls col-md-4 "></div>
                                <div class="controls">
                                    <button type="submit"  class="btn btn-primary btn-lg " >Add Property</button>
                                </div>
                            </div> 
                                
                        </form>
    
                    
                </div>
            </div>
        </div> 
    </div>
    </div> 
    <!--main content end-->
  </section>
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
        <!-- jQuery 2.0.2 -->
        <% include ./partials/Agents_dashboard/adminJs %> 
    </body>
</html>