<!DOCTYPE html>
<html>
    <head>
            <% include ./partials/Agents_dashboard/head %>

    </head>
    <body class="skin-black">
        <!-- header logo: style can be found in header.less -->
        <% include ./partials/Agents_dashboard/header %>
     
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
                    <% include ./partials/Agents_dashboard/sidenavbar %>
                <!-- sidebar: style can be found in sidebar.less -->
              
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Create Your Profile
                        <small>Preview</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="#">Forms</a></li>
                        <li class="active">General Elements</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content" >
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-6">
                            <!-- general form elements -->
                            <div class="box box-primary">
                                <div class="box-header">
                                  
                                </div><!-- /.box-header -->
                                <!-- form start -->
                                <form role="form"  method="POST" action="/api/agents/addForm" >
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Enter Your Name</label>
                                            <input type="text" name="Name" class="form-control" id="exampleInputEmail1" placeholder="Enter your name">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Enter Your Location</label>
                                            <input type="text" name="Location" class="form-control" id="exampleInputEmail1" placeholder="Enter your Location">
                                        </div>
                                        <div class="form-group">
                                                <label for="exampleInputEmail1">Age</label>
                                                <input type="number" name="Age" class="form-control" id="exampleInputEmail1" placeholder="Enter your age">
                                            </div>
                                        <div class="form-group">
                                            <label >Description</label>
                                            <input type="text" name="Description" class="form-control" id="exampleInputPassword1" placeholder="">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputFile">Input your picture</label>
                                            <input type="file" name="File" id="exampleInputFile">
                                            
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> Check me out
                                            </label>
                                        </div>
                                    </div><!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div><!-- /.box -->

                            
                                    </form>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div><!--/.col (right) -->
                    </div>   <!-- /.row -->
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
        <!-- jQuery 2.0.2 -->
        <% include ./partials/Agents_dashboard/adminJs %> 
    </body>
</html>