
    <!DOCTYPE html>
    <html lang="en">
    
    <head>
      <% include ./partials/user/head %>
    </head>
    
    <body>
      <!-- container section start -->
      <section id="container" class="">
        
        <!-- header down here -->
        <% include ./partials/user/header %>
        <!--sidebar start-->
        <% include ./partials/user/sidenavbar %>
        <!--sidebar end-->
    
        <!--main content start-->
        <section id="main-content">
            <div class="container">    
                <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div style="background-color:#eeeeee;color:#000000;text-align: center" class="panel-heading">
                        <div class="panel-title">Add Blog</div>
                        <div style="float:right; font-size: 85%; position: relative; top:-10px"></div>
                    </div>  
                    <div class="panel-body" >
                                    
        
                            <form  class="form-horizontal"  method="POST" action="/api/edit" >
                                <div id="div_id_username" class="form-group required">

                                    <div class="controls col-md-8 ">
                                        <input class="input-md  textinput textInput form-control" id="propertytitleid" maxlength="30" type="hidden" name="id" value="<%=data.id%>" placeholder="" style="margin-bottom: 10px" type="text"  />
                                    </div>
                                </div>
                                        
                                <div id="div_id_username" class="form-group required">
                                    <label for="id_username" class="control-label col-md-4  requiredField">Author<span class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md  textinput textInput form-control" id="propertytitleid" maxlength="30" name="author"value="<%=data.author%>" placeholder="" style="margin-bottom: 10px" type="text"  />
                                    </div>
                                </div>
                                   
                                       
                                <div id="div_id_username" class="form-group required">
                                    <label for="id_username" class="control-label col-md-4  requiredField">  Title<span class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md  textinput textInput form-control" id="propertytitleid" maxlength="30" name="title"value="<%=data.title%>"placeholder="" style="margin-bottom: 10px" type="text"  />
                                    </div>
                                </div>
                                <div id="div_id_email" class="form-group required">
                                    <label for="id_email" class="control-label col-md-4  requiredField">Description<span class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <textarea class="input-md  form-control" id="descriptionid" name="desc"  placeholder="Add Description Here" style="margin-bottom: 10px" type="text"  ><%=data.desc%></textarea>
                                    </div>     
                                </div>
                               
                                <div id="div_id_email" class="form-group required">
                                    <label for="id_email" class="control-label col-md-4  requiredField">Image<span class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input type="file" accept="image/*" name="photo" class="form-control" />
                                    </div>     
                                </div>
    
    
                                
                                <div class="form-group  "> 
                                    <div class="aab controls col-md-4 "></div>
                                    <div class="controls">
                                        <button type="submit"  class="btn btn-primary btn-lg " >Add Blog</button>
                                    </div>
                                </div> 
                                    
                            </form>
        
                        
                    </div>
                </div>
            </div> 
        </div>
        </div> 
        <!--main content end-->
      </section>
      <!-- container section start -->
    
      <!-- javascripts -->
     
    
    </body>
    
    
    
    </html>
    