<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Edit</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/styles/bootstrap-4.1.2/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/Resources/style.css" />
    <style>
      body {
        background-image: linear-gradient(
            rgba(29, 212, 212, 0.664),
            rgba(0, 0, 0, 0.7)
          ),
          url("css/img/1.jpg"), url(img/1.jpg);
        background-size: cover;
      }
      body {
        background: rgb(38, 202, 231);
      }
      hr {
        background: rgb(228, 65, 36);
      }
      .contact-form {
        background: rgb(242, 244, 245);
        color: black;
        margin-top: 20px;
        padding: 100px;
        box-shadow: 0px 0px 10px 3px rgba(66, 64, 64, 0.267);
      }
      .hidden {
        display: none;
      }
      .hidden2 {
        display: none;
      }
    </style>
    <script>
      function showHide() {
        var checkbox = document.getElementById("chk");
        var hiddeninputs = document.getElementsByClassName("hidden");
        for (var i = 0; i != hiddeninputs.length; i++) {
          if (checkbox.checked) {
            hiddeninputs[i].style.display = "block";
          } else {
            hiddeninputs[i].style.display = "none";
          }
        }
      }
      function showHidee() {
        var checkbox = document.getElementById("chkk");
        var hiddeninputs = document.getElementsByClassName("hidden2");
        for (var i = 0; i != hiddeninputs.length; i++) {
          if (checkbox.checked) {
            hiddeninputs[i].style.display = "block";
          } else {
            hiddeninputs[i].style.display = "none";
          }
        }
      }
    </script>
  </head>

  <body>
    <% include partials/adminnav %>
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
      
      <div class="container-fluid  dashboard-content">
          
        <div class="container contact-form">
          
          <h1>Edit Info</h1>
          <hr />
          
          <form method="POST" action="/admin/updateinfo?_method=PUT">
            <div class="row">
              <div class="col-md-10">
                <div class="col-md-8">
                    <div class="form-group">
                        <label hidden>id</label>
                        <Input
                          type="text"
                          hidden
                          name="id"
                          id="id"
                          value="<%= posts._id %>"
                          class="form-control"
                        />
                      </div>
                      <div class="form-group">
                    <label>Floor Number</label>
                    <Input
                      type="number"
                      name="f_num"
                      id="f_num"
                      value="<%= posts.f_num %>"
                      class="form-control"
                      disabled
                    />
                  </div>

                  <div class="form-group">
                    <label>Total Number Of Rooms</label>
                    <Input
                      type="number"
                      name="num_of_room"
                      id="num_of_room"
                      value="<%= posts.num_of_room %>"
                      class="form-control"
                      required
                    />
                  </div>
                  <div>
                    <label>Availabel Seats</label>
                    <Input
                      type="number"
                      name="available_seats"
                      id="passwordid"
                      value="<%= posts.available_seats %>"
                      required
                      class="form-control"
                    />
                  </div>
                  </form> 
                </br>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="btn">
                        Update
                    </button>
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </form>
        </div>
    </div>
    
  </body>
</html>