



<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/user/head %>
  <style>
  body{
      background-color: #eeeeee
  }
  </style>
</head>

<body>
  <!-- container section start -->
  <section id="container" class="">
    
    <!-- header down here -->
    <% include ./partials/user/header %>
    <!--sidebar start-->
    <% include ./partials/user/sidenavbar %>
    <!--sidebar end-->

    <!--main content start-->
    <!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/user/head %>
</head>

<body>
  <!-- container section start -->
  <section id="container" class="">
    
    <!-- header down here -->
    <% include ./partials/user/header %>
    <!--sidebar start-->
    <% include ./partials/user/sidenavbar %>
    <!--sidebar end-->

    <!--main content start-->
    
    
                    
                </div>
            </div>
        </div> 
    </div>
    </div> 
    <!--main content end-->
  </section>
  <!-- container section start -->

  <!-- javascripts -->
  <% include ./partials/user/sidenavbar %>

</body>

</html>

  <!-- container section start -->
  </section>
  <!-- javascripts -->
  <% include ./partials/user/sidenavbar %>

</body>

</html>
